.menuButton {
    margin-left: -12;
    margin-right: 20;
}

.bg-container {
    background-image: url('../../assets/images/login-bg.jpg');
    background-position: bottom;
    flex: auto;
}

div.Toolbar {
    min-height: 0;
    justify-content: space-between;
}
